.heading {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    margin: 5px;
}

.nav-item .nav-link  {
    border-radius: 15px;
}

.nav-item:hover .nav-link:hover  {
    background-color: white;
    color: black;
    border-radius: 15px;
}

.expense-note {
  border-left: solid 5px;
  border-left-color: red;
  background-color: rgb(252, 214, 220);
  margin-bottom: 30px;
  width: 500px;
  padding: 2px 2px 2px 10px;
}

.income-note {
  border-left: solid 5px;
  border-left-color: blue;
  background-color: lightblue;
  margin-bottom: 30px;
  width: 500px;
  padding: 2px 2px 2px 10px;
}
